:root {
    --primaryColour: #F1F1F1;
    --white2: #f2f3ed;
    --black: #141114;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --yellow: #ffd900;
    --blue: #4283FC;
    --blue2: #5DA5E9;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #CCC;
    --secondaryColour: #6D326D;
    --red: #BA0B34;
    --green: #D0FCB8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box
}

body,
input {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: var(--black)
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h3,
h4 {
    font-weight: 500;
}


/* --------Header----------*/

.header {
    position: relative;
}

.container {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}


/* --------Navigation----------*/

.navigation {
    position: relative;
    height: 7rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    padding: 0 1rem;
}

.nav_logo {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1.6rem;
    font-weight: 700;
}

.nav_hamburger {
    display: none;
    cursor: pointer;
}

.nav_hamburger svg {
    height: 2.3rem;
    width: 2.3rem;
}

.menu_top {
    display: none;
}

.nav_menu {
    width: 50%;
}

.nav_list {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

.nav_item:not(:last-child) {
    margin-right: 1.6rem;
}

.nav_list .nav_link:link,
.nav_list .nav_link:visited {
    display: flex;
    font-size: 1.9rem;
    text-transform: uppercase;
    color: var(--black);
    transition: color .3s ease-in-out;
}

.nav_list .nav_link:hover {
    display: block;
    text-align: inherit;
    text-decoration: none;
    color: var(--blue);
}

.nav_icons {
    display: flex;
    position: relative;
}

.nav_icons .icon_item svg {
    width: 1.6rem;
    height: 1.6rem;
}

.nav_icons .icon_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    border: 1px solid var(--red);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.nav_icons .icon_item:link,
.nav_icons .icon_item:visited {
    color: var(--green)
}

.nav_icons .icon_item:hover {
    background-color: var(--green);
    border: 1px solid var(--secondaryColour);
}

.nav_icons .icon_item:not(:last-child) {
    margin-right: 1rem;
}

.nav_icons #cart_total {
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: -6px;
    background-color: var(--blue);
    padding: .2rem .4rem;
    border-radius: 100%;
    color: var(--primaryColour);
}


/*---------Navigation Media-----------*/

@media only screen and (max-width: 768px) {
    .nav_menu {
        position: fixed;
        top: 0;
        left: -30rem;
        width: 0rem;
        background-color: var(--white);
        z-index: 9990;
        height: 100%;
        transition: all .3s;
    }
    .nav_menu.open {
        left: 0;
        width: 30rem;
        box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
    }
    .nav_logo {
        width: 50%;
    }
    .nav_hamburger {
        display: inline-block;
    }
    .menu_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--blue2);
        padding: 1.8rem 1.8rem;
    }
    .menu_top svg {
        height: 2.3rem;
        width: 2.3rem;
        fill: var(--secondaryColour);
        transition: all .3s ease-in-out;
    }
    .nav_category {
        color: var(--white);
        font-size: 2.3rem;
        font: weight 700;
    }
    .nav_list {
        flex-direction: column;
        align-items: flex-start;
        padding: 1.6rem 1rem;
    }
    .nav_item:not(:last-child) {
        margin-right: 0;
    }
    .nav_item {
        width: 100%;
    }
    .nav_list .nav_link:link,
    .nav_list .nav_link:visited {
        padding: 1.6rem 0;
        width: 100%;
        color: var(--black5)
    }
    body.active::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black) none no-repeat 0 0;
        opacity: .7;
        z-index: 999;
        transition: .8s;
    }
}

@media only screen and (max-width: 568px) {
    .nav_icons .icon_item svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    .nav_icons .icon_item {
        padding: .5rem;
    }
}


/*---------Top banner-----------*/

.banner,
.banner .glide__slide {
    background-color: var(--primaryColour);
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner .glide__bullet {
    background-color: var(--black);
    width: 1.2rem;
    height: 1.2rem;
}

.banner .glide__arrow {
    padding: 1.5rem 1.5rem;
    opacity: 0;
    border: none;
    background-color: var(--white2);
    transition: all 0.5s ease-in-out 0.2s;
}

.glide__arrow:hover {
    background-color: var(--white);
    border: 1px solid var(--secondaryColour);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .5);
}

.glide__arrow--left {
    left: 5rem;
}

.glide__arrow--right {
    position: absolute;
    right: 5rem;
}

.banner:hover .glide__arrow {
    opacity: 1;
}

.banner:hover .glide__arrow--left {
    left: 10rem;
}

.banner:hover .glide__arrow--right {
    right: 10rem;
}

.banner .glide__arrow svg {
    height: 1.8rem;
    width: 1.8rem;
    fill: var(--primaryColor);
}

.banner .glide__arrow {
    border-radius: 50%;
}

.banner_center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 114rem;
    margin: 0 auto;
    height: 100%;
    padding-top: 3rem;
}

.banner_left {
    padding: 0 0rem;
    margin: 0;
    margin-left: 1rem;
    flex: 0 0 50%;
}

.banner_btn {
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: var(--secondaryColour);
    color: var(--primaryColour);
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.5rem 4rem;
    border: 1px solid var(--secondaryColour);
    transition: all 0.3s ease-in-out;
}

.banner_btn:focus {
    outline: none;
}

.banner_left .banner_btn:hover {
    font-weight: 700;
    background-color: transparent;
    color: var(--black4);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .5);
}

.banner_left h1 {
    margin: 1rem 0;
}

.banner_left p {
    margin-bottom: 1rem 0;
}

.banner_right {
    flex: 0 0 50%;
    position: relative;
    text-align: center;
}


/* Banner media query*/

@media only screen and (max-width:999px) {
    .banner_center {
        flex-direction: column;
        text-align: center;
    }
    .banner_left {
        position: absolute;
        padding: 0 1rem;
        top: 10%;
    }
    .banner_right {
        top: 50%;
        position: absolute;
        align-content: center;
    }
    .banner_right img {
        width: 55%;
    }
    .banner_btn {
        padding: 1.1rem 2.8rem;
    }
    .banner .glide__arrows {
        display: none;
    }
}


/* collection area*/

.section {
    padding: 3rem 0;
}

.collection {
    margin: 3rem 0;
}

.collection_container {
    width: 100%;
    padding: 0 1.6rem;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.collection_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    flex: 0 0 48%;
    height: 30rem;
    background-color: var(--primaryColour);
}

.collection_box:not(:last-child) {
    margin-right: 1.6rem;
}

.contentarea_img_container {
    width: 25rem;
    text-align: center;
}

.collection_box img.collection_01 {
    width: 60%;
}

.collection_box img.collection_02 {
    width: 75%;
}

.collection_content {
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection_content span {
    color: var(--black4);
}

.collection__content h1 {
    margin-top: 0.5rem;
}

.collection_content a:link,
.collection_content a:visited {
    font-weight: 700;
    display: inline-block;
    padding: 1rem 1.4rem;
    margin-top: 1.3rem;
    border-radius: 3rem;
    border: 2px solid var(--secondaryColour);
    color: var(--primaryColour);
    background-color: var(--secondaryColour);
    transition: all 0.3s ease-in-out;
}

.collection_content a:hover {
    background-color: transparent;
    color: var(--secondaryColor);
}


/* collection media query*/

@media only screen and (max-width: 999px) {
    .collection_container {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        height: 65rem;
    }
    .collection_box img {
        height: 22rem;
    }
    .collection_box {
        width: 100%;
        margin: 0 auto;
    }
    .collection_box:not(:last-child) {
        margin: 0 0 1.6rem;
    }
}

@media only screen and (max-width: 568px) {
    .collection {
        margin: 0;
        position: relative;
    }
    .collection_container {
        width: 100%;
        height: 50rem;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .collection_box {
        justify-content: space-around;
        height: 15rem;
    }
    .collection_content {
        flex: 0 0 30%;
    }
    .collection_data span {
        font-size: 1.2rem;
    }
    .collection_data h1 {
        font-size: 2rem;
    }
}


/* latest products section */

.title_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 6rem;
    padding: 2rem 0;
    background-color: var(--primaryColour);
}

.section_title:not(:last-child) {
    margin-right: 1.5rem;
}

.section_title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.section_title h1 {
    font-size: 1.9rem;
    font-weight: inherit;
}

.section_title:hover .primary_title,
.section_title:hover span.dot,
.section_title:hover span.dot::before {
    opacity: 1;
    color: var(--blue);
}

.section_title .primary_title {
    opacity: 0.6;
    padding-left: 0.5rem;
    transition: opacity 0.3s ease-in-out;
}

span.dot {
    opacity: 0.6;
    padding: 0.45rem;
    position: relative;
    border: 1px solid var(--black2);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

span.dot::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--black3);
    background-color: var(--secondaryColour);
    margin: 1px;
    opacity: 0.6;
}

.section_title.active span.dot {
    opacity: 1;
}

.section_title.active span.dot::before {
    opacity: 1;
}

.section_title.active .primary_title {
    opacity: 1;
}

.product {
    position: relative;
    text-align: center;
}

.product ul svg {
    width: 1.7rem;
    height: 1.7rem;
}

.product ul {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35%;
    left: 50%;
    width: 17rem;
    height: 5rem;
    background-color: rgba(179, 179, 15, 0.452);
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.5s ease-in-out;
}

.product:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.product ul li:not(:last-child) {
    margin-right: 1.6rem;
}

.product ul a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.product ul a:hover {
    background-color: var(--white2);
}

.product ul a::before {
    content: "";
    position: absolute;
    top: -0.6rem;
    left: -0.6rem;
    height: 0;
    width: 0;
    border-top: 3px solid var(--black5);
    border-left: 3px solid var(--black5);
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
}

.product ul a::after {
    content: "";
    position: absolute;
    bottom: -0.6rem;
    right: -0.6rem;
    width: 0;
    height: 0;
    border-bottom: 3px solid var(--black2);
    border-right: 3px solid var(--black2);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}

.product ul a:hover::before {
    width: 126%;
    height: 126%;
    border-top: 3px solid var(--red);
    border-left: 3px solid var(--red);
    opacity: 1;
}

.product ul a:hover::after {
    width: 126%;
    height: 126%;
    border-bottom: 3px solid var(--blue);
    border-right: 3px solid var(--blue);
    opacity: 1;
}

@media only screen and (max-width: 567px) {
    .title_container {
        flex-direction: column;
    }
    .section_titles:not(:last-child) {
        margin: 0 0 1.3rem;
    }
}

.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25rem;
}

.product_header {
    height: 25rem;
    padding: 0.5rem 0;
    text-align: center;
}

.product_header img {
    max-width: 100%;
    max-height: 100%;
}

.product_footer {
    padding: 1rem 0;
}

.rating svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--yellow);
}

.product_footer h3 {
    padding: 1rem 0;
    font-size: 1.6rem;
}

.product_footer .product_price {
    padding-bottom: 1rem;
}

.product_btn {
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    width: 90%;
    background-color: var(--secondaryColour);
    color: var(--primaryColour);
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.4rem 0rem;
    border-radius: 3rem;
    border: 1px solid var(--secondaryColour);
    transition: all 0.3s ease-in-out;
}

.product_btn:focus {
    outline: none;
}

.product_btn:hover {
    background-color: transparent;
    color: var(--black4);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .5);
}

.latest_products .glide__arrow,
.related_products .glide__arrow {
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    outline: none;
    border-radius: 0;
    box-shadow: 0 0.5em 0.5em 0 rgba(0, 0, 0, 0);
    top: -7%;
    left: 10%;
}

.latest_products .glide__arrow:hover,
.related_products .glide__arrow:hover {
    background-color: var(--primaryColour);
    border: 1px solid var(--secondaryColour);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .5);
}

.latest_products .glide__arrow--left,
.related_products .glide__arrow--left {
    left: 5%;
}

.latest_products .glide__arrow--right,
.related_products .glide__arrow--right {
    left: 10%;
}

.latest_products .glide__arrow svg,
.related_products .glide__arrow svg {
    width: 1.8rem;
    height: 1.8rem;
    align-content: space-between;
    fill: var(--grey);
}


/*
======================
Latest Products Media Query
======================
*/

@media only screen and (max-width: 999px) {
    .product_header {
        height: 25rem;
    }
    .product {
        width: 70%;
        margin: 0 auto;
    }
    .latest_products .glide__arrow--left,
    .related_products .glide__arrow--left {
        left: 10%;
    }
    .latest_products .glide__arrow--right,
    .related_products .glide__arrow--right {
        left: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .latest_products .glide__arrow--left,
    .related__products .glide__arrow--left {
        left: 10%;
    }
    .latest_products .glide__arrow--right,
    .related_products .glide__arrow--right {
        left: 20%;
    }
}

@media only screen and (max-width: 578px) {
    .product_header {
        height: 20rem;
    }
    .product__btn:hover {
        background-color: var(--black);
        color: var(--primaryColor);
    }
    .product_header img {
        width: 50%;
    }
    .product_footer h3 {
        font-size: 1.4rem;
    }
    .product_btn {
        width: 100%;
        font-size: 1rem;
        padding: 0.8rem 0;
        border: 1px solid var(--secondaryColour);
    }
    .product ul a {
        width: 2.7rem;
        height: 2.7rem;
    }
    .product ul {
        top: 25%;
        left: 50%;
        width: 16rem;
        height: 4rem;
    }
    .rating svg {
        width: 1.3rem;
        height: 1.3rem;
    }
    .latest_products .glide__arrow--left,
    .related_products .glide__arrow--left {
        left: 10%;
    }
    .latest_products .glide__arrow--right,
    .related_products .glide__arrow--right {
        left: 20%;
    }
}

@media only screen and (max-width: 460px) {
    .product_header {
        height: 12rem;
    }
    .product_footer h3 {
        font-size: 1.2rem;
    }
}


/*
======================
Facility
======================
*/

.facility__section {
    background-color: var(--primaryColor);
    padding: 6rem 0;
}

.facility__contianer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.facility-img__container svg {
    width: 3rem;
    height: 3rem;
    transition: 1s;
    perspective: 4000;
}

.facility__box {
    text-align: center;
}

.facility-img__container {
    position: relative;
    display: inline-block;
    line-height: 9.5rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 1.5px solid var(--white);
    z-index: 1;
    margin-bottom: 1.6rem;
}

.facility-img__container::before {
    content: "";
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0.7rem;
    background-color: var(--white);
    z-index: -1;
}

.facility__box:hover svg {
    transform: rotateY(180deg);
    line-height: 9.5rem;
}


/*
======================
Facility Media Query
======================
*/

@media only screen and (max-width: 998px) {
    .facility__contianer {
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
    }
}

@media only screen and (max-width: 568px) {
    .facility__contianer {
        grid-template-columns: 1fr;
    }
    .facility-img__container {
        width: 7rem;
        height: 7rem;
        line-height: 8.5rem;
    }
    .facility__contianer p {
        font-size: 1.4rem;
    }
}


/*
======================
NewsLetter
======================
*/

.newsletter {
    padding: 6rem 0;
    color: var(--black4);
    background-color: var(--primaryColour);
    border-top: 1px solid var(--secondaryColour);
}

.newsletter_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter_data h3 {
    font-size: 2.4rem;
    font-weight: inherit;
    margin-bottom: 1rem;
}

.newsletter_data p {
    font-size: 1.5rem;
    color: var(--black4);
}

.newsletter_email {
    font-size: 1.4rem;
    margin-right: 1rem;
    display: inline-block;
    width: 37rem;
    padding: 1.6rem;
    background-color: var(--primaryColor);
    text-indent: 1rem;
}

.newsletter_email:focus {
    outline: auto;
}

.newsletter_link:link,
.newsletter_link:visited {
    display: inline-block;
    padding: 1.4rem 3rem;
    margin-left: -0.5rem;
    background-color: var(--secondaryColour);
    border: 3px solid var(--secondaryColour);
    border-radius: 3rem;
    color: var(--white);
    transition: 0.3s;
}

.newsletter_link:hover {
    background-color: transparent;
    color: var(--black4);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .5);
}


/*
======================
Newsletter Media Query
======================
*/

@media only screen and (max-width: 998px) {
    .newsletter {
        padding: 6rem 4rem;
    }
    .newsletter_content {
        flex-direction: column;
        align-items: center;
    }
    .newsletter_email {
        width: 45rem;
    }
    .newsletter_data {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .newsletter_content {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .newsletter_email {
        width: 45rem;
        display: block;
        margin-bottom: 1.6rem;
    }
}

@media only screen and (max-width: 568px) {
    .newsletter_email {
        width: 23rem;
        font-size: 1.2rem;
    }
    .newsletter_data h3 {
        font-size: 1.6rem;
    }
    .newsletter_data p {
        font-size: 1rem;
    }
    .newsletter_link:link,
    .newsletter_link:visited {
        padding: 1.2rem 2rem;
        margin-left: 0;
    }
}


/*
======================
Footer
======================
*/

.footer {
    background-color: var(--primaryColour);
    padding: 6rem 1rem;
    line-height: 3rem;
}

.footer-top_box span svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--grey3);
}

.footer-top_box span {
    margin-right: 1rem;
}

.footer_top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--grey3);
}

.footer-top_box a:link,
.footer-top_box a:visited {
    display: block;
    color: var(--black);
    font-size: 1.4rem;
    transition: 0.6s;
}

.footer-top_box a:hover {
    color: var(--blue);
}

.footer-top_box div {
    color: var(--grey);
    font-size: 1.4rem;
}

.footer-top_box h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer-top_box .connect svg {
    height: 4rem;
    width: 4rem;
    border: 2px solid var(--secondaryColour);
}

.footer-top_box .connect ul {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1rem;
}

.footer-top_box .connect li {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: .5rem;
}

.footer-top_box .connect #facebook:hover {
    background-image: url('/images/Social/Facebook.svg');
    object-fit: contain;
}

@media only screen and (max-width: 998px) {
    .footer_top {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer_top {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}


/*
======================
Pop Up
======================
*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: 0.3s;
    transform: scale(1);
}

.popup_content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    margin: 0 auto;
    height: 55rem;
    transform: translate(-50%, -50%);
    padding: 1.6rem;
    display: table;
    overflow: hidden;
    background-color: var(--white);
}

.popup_close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 1.5rem;
    background-color: var(--primaryColor);
    border-radius: 50%;
    cursor: pointer;
}

.popup_close svg {
    width: 1.7rem;
    height: 1.7rem;
}

.popup_left {
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: middle;
}

.popup_right {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding: 3rem 5rem;
}

.popup-img_container {
    width: 100%;
    overflow: hidden;
}

.popup-img_container img.popup_img {
    display: block;
    width: 60rem;
    height: 45rem;
    max-width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.right_content {
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.right_content h1 {
    font-size: 4rem;
    color: #000;
    margin-bottom: 1.6rem;
}

.right_content h1 span {
    color: var(--green);
}

.right_content p {
    font-size: 1.8rem;
    color: var(--grey2);
    margin-bottom: 1.6rem;
}

.popup_form {
    width: 100%;
    padding: 2rem 0;
    text-indent: 1rem;
    margin-bottom: 1.6rem;
    border-radius: 3rem;
    background-color: var(--primaryColor);
    border: none;
}

.popup_form:focus {
    outline: none;
}

.right_content a:link,
.right_content a:visited {
    display: inline-block;
    padding: 1.8rem 5rem;
    border-radius: 3rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--grey2);
    transition: 0.3s;
}

.right_content a:hover {
    background-color: var(--green);
    border: 1px solid var(--grey2);
    color: var(--black);
}

.hide_popup {
    transform: scale(0.2);
    opacity: 0;
    visibility: hidden;
}


/*
Go Up
*/

.goto-top:link,
.goto-top:visited {
    position: fixed;
    right: 2%;
    bottom: 10%;
    padding: 0.8rem 1.4rem;
    border-radius: 1rem;
    background-color: var(--secondaryColour);
    visibility: hidden;
    cursor: pointer;
    transition: 0.3s;
    animation: bounce 2s ease-in-out infinite;
}

.show-top:link,
.show-top:visited {
    visibility: visible;
    z-index: 1999;
}

@keyframes bounce {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.5);
    }
    0% {
        transform: scale(1);
    }
}

.goto-top svg {
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--black);
}

.goto-top:hover {
    background-color: var(--blue);
}

@media only screen and (max-width: 1200px) {
    .right_content {
        width: 100%;
    }
    .right_content h1 {
        font-size: 3.5rem;
        margin-bottom: 1.3rem;
    }
}

@media only screen and (max-width: 998px) {
    .popup_right {
        width: 100%;
    }
    .popup_left {
        display: none;
    }
    .right_content h1 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    .right_content h1 {
        font-size: 4rem;
    }
    .right_content p {
        font-size: 1.6rem;
    }
    .popup_form {
        width: 90%;
        margin: 0 auto;
        padding: 1.8rem 0;
        margin-bottom: 1.5rem;
    }
    .goto-top:link,
    .goto-top:visited {
        right: 5%;
        bottom: 5%;
    }
}

@media only screen and (max-width: 568px) {
    .popup_right {
        padding: 0 1.6rem;
    }
    .popup_content {
        height: 35rem;
        width: 90%;
        margin: 0 auto;
    }
    .right_content {
        width: 100%;
    }
    .right_content h1 {
        font-size: 3rem;
    }
    .right_content p {
        font-size: 1.4rem;
    }
    .popup_form {
        width: 100%;
        padding: 1.5rem 0;
        margin-bottom: 1.3rem;
    }
    .right_content a:link,
    .right_content a:visited {
        padding: 1.5rem 3rem;
    }
    .popup_close {
        top: 1rem;
        right: 1rem;
        padding: 1.3rem;
    }
    .popup_close svg {
        width: 1.4rem;
        height: 1.4rem;
    }
}